<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Python"/>
      </watched>
      <dir
        name="configs">
        <dir
          name="cifar10"/>
        <dir
          name="cifar100"/>
        <dir
          name="imagenet10"/>
        <dir
          name="imagenet_dog"/>
        <dir
          name="stl10"/>
        <dir
          name="tiny_imagenet"/>
      </dir>
      <dir
        name="fixmatch">
        <dir
          name="datasets">
          <dir
            name="augmentation"/>
        </dir>
        <dir
          name="models">
          <dir
            name="fixmatch"/>
          <dir
            name="model"/>
          <dir
            name="nets"/>
        </dir>
      </dir>
      <dir
        name="moco"/>
      <dir
        name="spice">
        <dir
          name="config"/>
        <dir
          name="data">
          <dir
            name="samplers"/>
        </dir>
        <dir
          name="model">
          <dir
            name="feature_modules"/>
          <dir
            name="heads"/>
        </dir>
        <dir
          name="solver"/>
        <dir
          name="utils"/>
      </dir>
      <dir
        name="tools"/>
    </dir>
  </files>
  <languages>
    <language
      name="Python"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <imports/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
</project>
